// ----------------------------------------------------
// Base styles
// ----------------------------------------------------
html, body {@extend .fill;}

body {
  font-family: $hind;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $light-text;
  background-color: $gray-3;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  
  &:hover {
    color: inherit;
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  @extend .no-margin;
}

h1, h2, h3, h4, h5 {
  font-weight: $heavy-text;
  line-height: $line-height;
}

label {
  font-weight: $light-text;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  @extend .no-margin;
}

p {margin-bottom: $single-unit;}
