// ----------------------------------------------------
// Configuration variables
// ----------------------------------------------------
// Header
$header-height: 80px; // can be used to adjust entire header

// Text
$font-size: 16px;
$line-height: 1.6;
$light-text: 300;
$normal-text: 400;
$heavy-text: 600;

// Spacing
$single-unit: 15px;
$double-unit: 30px;
$quad-unit: 60px;
