// ----------------------------------------------------
// Form element styles
// ----------------------------------------------------
button {
  border: none;
  @extend .transition;
  
  &:focus {outline: none;}
  
  // Large, rounded buttons
  &.large {
    width: 70%;
    padding: $single-unit;
    border-radius: $double-unit;
    
    &.primary {
      background-color: $pri-1;
      color: white;
      &:focus {background-color: darken($pri-1, 5%);}
    }
  }
  
  // Small buttons in <li>s
  &.add {
    display: inline-block;
    width: $double-unit;
    height: $double-unit;
    line-height: $double-unit;
    background: transparent;
    border: 1px solid $gray-2;
    border-radius: 3px;
    text-align: center;
    padding: 0;
    
    &:active {
      background: $gray-2;
    }
  }
}
