// ----------------------------------------------------
// Form element styles
// ----------------------------------------------------
button {
  border: none;
  @extend .transition;
  
  &:focus {outline: none;}
  
  &.large {
    width: 70%;
    padding: $single-unit;
    border-radius: $double-unit;
    
    &.primary {
      background-color: $pri-1;
      color: white;
      &:focus {background-color: darken($pri-1, 5%);}
    }
  }
}
