// ----------------------------------------------------
// Main content area styles
// ----------------------------------------------------
.col-info, .col-tweets, .col-options {
  position: relative;
  height: calc(100% - #{$header-height});
  margin-top: $header-height;
  padding: $double-unit;
  z-index: 1;
  overflow: scroll;
  
  @media #{$sm} {height: auto;}
}

.col-tweets {
  padding-left: $double-unit;
  padding-right: $double-unit;
  background-color: $gray-3;
  
  @media #{$sm} {margin-top: auto;}
  
  section {
    overflow: hidden;
    background-color: $gray-4;
    @extend .box-shadow;
    margin-bottom: $double-unit;
  }
}

// Left column
.col-info {
  background-color: $pri-2;
  overflow-x: hidden;
  z-index: 3;
  
  @media #{$sm}, #{$md} {z-index: 1;}
  
  .user-info {
    padding: $single-unit 0;
    text-align: center;
    color: white;
    margin-bottom: $double-unit;
    
    h4 {margin: $single-unit 0;}
    
    .avatar {
      display: block;
      margin: 0 auto $double-unit;
      width: $header-height * 1.2;
      height: $header-height * 1.2;
      border-radius: $header-height * 0.6;
      background-image: url("https://avatars2.githubusercontent.com/u/4172870?v=3&s=460");
      background-size: cover;
    }
  }
  
  .photo-grid {
    overflow: hidden;
    margin: 0 (- $double-unit - 1px); // to hide 1px value rounding errors
    
    .col-xs-4 {
      padding: 0;
      
      img {width: 100%;}
    }
  }
  
  .actions {
    margin: $double-unit 0;
    color: white;
    
    li {
      color: mix($pri-2, white, 40%);
      line-height: $line-height * 1.2;
    }
    
    label {font-size: $font-size * 1.2;}
    
    a {
      color: white;
      text-decoration: underline;
    }
    
    i {margin-right: $single-unit / 2;}
  }
}

// Trending hashtags
.trending {
  margin-bottom: $double-unit;
  
  li {
    line-height: $line-height * 1.2;
    @extend .ellipsis;
  }
}

// List of users to follow
.users li {
  position: relative;
  line-height: $line-height * 1.2;
  
  .avatar {
    position: absolute;
    left: 0;
    top: $single-unit / 2;
    width: $header-height / 2;
    height: $header-height / 2;
    border-radius: $header-height / 4;
    border: 1px solid $gray-2;
    background-image: url("https://avatars2.githubusercontent.com/u/4172870?v=3&s=460");
    background-size: cover;
  }
  
  p {
    margin: 0 ($double-unit + $single-unit) 0 ($header-height / 2) + $single-unit;
    @extend .ellipsis;
    
    &:nth-of-type(1) {
      font-size: $font-size * 1.2;
      color: $gray-1;
    }
    
    &:nth-of-type(2) {
      color: $gray-2;
      margin-top: (- $single-unit / 2);
    }
  }
  
  .add {
    position: absolute;
    top: $single-unit / 2;
    right: 0;
  }
}

// Totals
.totals .col-sm-3 {
  text-align: center;
  padding: $single-unit 0;
  border-bottom: 4px solid transparent;
  
  &.active {border-color: $pri-2;}
  
  label {color: $gray-2;}
  
  h4 {margin: 0;}
}

// Right column
.col-options {
  background-color: $gray-4;
  padding-bottom: $quad-unit * 2;
  
  @media #{$sm} {margin-top: auto;}
  
  a {color: $pri-2;}
  
  label {font-size: $font-size * 1.2;}
  
  .more {
    font-size: $font-size;
    margin-top: 1px;
  }
}
