// ----------------------------------------------------
// Main content area variables
// ----------------------------------------------------


// ----------------------------------------------------
// Main content area styles
// ----------------------------------------------------
.col-info, .col-tweets, .col-options {
  position: relative;
  height: calc(100% - #{$header-height});
  margin-top: $header-height;
  padding: 30px 15px;
  z-index: 1;
  overflow: scroll;
  
  @media #{$sm} {
    height: auto;
  }
}

.col-tweets {
  padding-left: 30px;
  padding-right: 30px;
  
  @media #{$sm} {
    margin-top: auto;
  }
  
  section {
    overflow: hidden;
    background-color: $gray-4;
    @extend .box-shadow;
    margin-bottom: 30px;
  }
}

// Left column
.col-info {
  background-color: $pri-2;
  overflow-x: hidden;
  z-index: 3;
  
  @media #{$sm} {z-index: 1;}
  
  .user-info {
    padding: 30px 0;
    text-align: center;
    color: white;
    margin-bottom: 30px;
    
    h4 {
      margin: 15px 0;
    }
    
    .avatar {
      display: block;
      margin: 0 auto 30px;
      width: $header-height * 1.2;
      height: $header-height * 1.2;
      border-radius: $header-height * 0.6;
      background-image: url("https://avatars2.githubusercontent.com/u/4172870?v=3&s=460");
      background-size: cover;
    }
  }
  
  .photo-grid {
    overflow: hidden;
    margin: 0 -16px; // instead of -15px, to hide 1px value rounding errors
    
    .col-xs-4 {
      padding: 0;
      
      img {
        width: 100%;
      }
    }
  }
  
  .actions {
    padding: 0 15px;
    margin: 30px 0;
    color: white;
    
    li {
      color: mix($pri-2, white, 40%);
      line-height: 1.8;
    }
    
    label {
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
    }
    
    a {
      color: white;
      text-decoration: underline;
    }
    
    i {margin-right: 8px;}
  }
}

// Right column
.col-options {
  background-color: $gray-4;
}

// Totals
.totals .col-sm-3 {
  text-align: center;
  padding: 15px 0;
  border-bottom: 4px solid transparent;
  
  &.active {
    border-color: $pri-2;
  }
  
  label {
    color: $gray-2;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0;
  }
  
  h4 {
    margin: 0;
  }
}

// Tweets
.tweets li {
  padding: 30px;
  border-bottom: 1px solid $gray-3;
}
